<i class="devicons devicons-html5" title="HTML5">
</i>
<i class="devicons devicons-markdown" title="Markdown">
</i>
<i class="devicons devicons-css3" title="CSS3">
</i>
<i class="devicons devicons-bootstrap" title="Bootstrap">
</i>
<i class="devicons devicons-wordpress" title="Wordpress">
</i>
<i class="devicons devicons-javascript" title="JavaScript">
</i>
<i class="devicons devicons-jquery" title="jQuery">
</i>
<i class="devicons devicons-angular" title="AngularJS">
</i>
    <i class="devicons devicons-cloud9" title="Cloud9">
</i>
<i class="devicons devicons-terminal" title="command line">
</i>

<i class="devicons devicons-git" title="GIT">
</i>
<i class="devicons devicons-sass" title="Sass">
    </i>
<i class="devicons devicons-ruby" title="Ruby">
    </i>
        <i class="devicons devicons-php" title="PHP"></i>
<i class="devicons devicons-python" title="Python">
    </i>
