<footer class="center">
  <div class="measure">
    <small>
        DanB. Copyright © 2015
    </small>
  </div>
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script>
var colours = {
  garmentType: {
    tshirt: {
      colourList: {
        White: "#ffffff",	
		Antique_Cherry_Red: "#C8424D",
Antique_Irish_Green: "#40B05C",
Antique_Jade_Dome: "#01949C",
Antique_Orange: "#D06946",
Antique_Sapphire: "#027EB2",
Ash: "#DEDFE1",
Azalea: "#FA90B9",
Black: "#1F2025",
Blackberry: "#321D56",
Cardinal_Red: "#A3283A",
Carolina_Blue: "#5693D9",
Charcoal: "#505559",
Cobalt: "#363088",
Cornsilk: "#FBF794",
Daisy: "#FBD448",
Dark_Chocolate: "#48372F",
Dark_Heather: "#5D6265",
Forest_Green: "#213E22",
Gold: "#FCAD2A",
Graphite_Heather: "#676C6F",
Heather_Sapphire: "#01AAE5",
Heliconia: "#E24B78",
Indigo_Blue: "#496477",
Irish_Green: "#01893E",
Kiwi: "#8BA14C",
Light_Blue: "#ADCFF6",
Light_Pink: "#FBC5D2",
Lilac: "#58387B",
Lime: "#9ACF65",
Maroon: "#632C32",
Midnight: "#0E2128",
Military_Green: "#53553D",
Mint: "#C0EB8F",
Natural: "#E6DFCF",
Navy: "#102236",
Old_Gold: "#C6A779",
Orange: "#FA623B",
Purple: "#59204D",
Red: "#D53A48",
Royal: "#2B5F9B",
Russet: "#81372E",
Safety_Pink: "#F47392",
Sand: "#E4D5C0",
Sapphire: "#0478B2",
Sky: "#82BDCD",
Sport_Grey: "#BDBCB8",
Sunset: "#D0583D",
Tweed: "#4F5950",
Violet: "#7C7AA9",
Yellow_Haze: "#FDD786"


      }
    },
    polo:{
     
    }
  
  }
};

var turnOffClicker = false;
var whatSection = colours.garmentType.tshirt.colourList;
var arr = [];
 $(".output").css({"background":"white"});
$.each(whatSection, function( key, value ) {
  console.log( key + ": " + value );
  var getId = key;
  var fixId = getId.replace(/\_/g, ' ');
  $(".colour-holder").prepend("<div class='main-box'><span>"+fixId+"<div class='box'style='background:"+value+"' id='"+key+"'></div></div>");
  if(value == "#ffffff"){
    $(".box").css({"border":"1px solid black"});
  }else{}
  // not needed
  arr.push((key,value));
});
if(!turnOffClicker){
$(".box").click(function(){
  var woo = $(this).css('backgroundColor');
  var getId = $(this).attr("id");
  var fixId = getId.replace(/\_/g, ' ');
  $(".output").css({"background":woo});
  $(".colour-name").text(fixId);
});
}else{
  $(".output").hide();
}
    
    $("#pro-01").click(function(){
        $("#pro-01-content").toggleClass("hide-me");
    })
</script>
</script>