.navbar.main {
  background:transparent;
  position: absolute;
  width:100%;
  border:0;
  padding-top:15px;
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  .nav-logo {
    width:70px;
  }
  * {
    color:white!important;
  }

}

.head-hero {
  background:url('../images/sky.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  display: block;
  height:600px;
  .hero-inner {
    padding-top:100px;
    color:white;
  }
  a {
    color: #ccc;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    &:hover {
      color:#fff;
    }
  }
}
